MONGODB_URI=mongodb+srv://example_user:example_password@cluster0.example.mongodb.net/job-recruitment
PORT=3001
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:3001
JWT_SECRET=your-super-secret-jwt-key
EMAIL_USER=your-email@example.com
EMAIL_PASS="your-16-char-app-password"
QUIZ_API_KEY=your-quiz-api-key
RAPID_API_KEY=your-rapidapi-key
GEMINI_API_KEY=your-gemini-api-key
