.hr-sidebar {
    width: 250px;
    background: white;
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  
  .hr-sidebar h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .hr-sidebar button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: rgb(0, 157, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .hr-sidebar button:hover{
    background-color: green;
  }
  