.preparation-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    padding: 20px;
    width: 100%;
    background-color: #f5f5f5;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.category-box {
    background: #ffffff;
    border: 2px solid #2a53f7;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.category-box h3 {
    margin-bottom: 10px;
    color: #ff6600;
    /* border: 2px solid red; */
}

.materials-list {
    list-style: none;
    padding: 0;
}

.materials-list li {
    margin: 8px 0;
    font-size: 16px;
}

.materials-list a {
    text-decoration: none;
    color: #2a53f7;
    font-weight: bold;
    display: block;
    padding: 8px;
    background: #eaf2ff;
    border-radius: 5px;
    transition: 0.3s;
}

.materials-list a:hover {
    background: #2a53f7;
    color: #fff;
}
